body {
    font-family: Futura;
}

.selection a {
    position: relative;
    display: inline-block;
}

.selection a::after {
    opacity: 0;
    content: "";
    background-color: #5431b6;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.18em;
    transform: scaleX(0);
    transform-origin: center;
    transition: opacity 300ms, transform 300ms;
}

.selection a:hover::after,
.selection a:focus::after {
  opacity: 1;
  transform: scaleX(1);

}