body {
    font-family: Futura;
}

.selection a {
    position: relative;
    display: inline-block;
}

.selection a::after {
    opacity: 0;
    content: "";
    background-color: #4D48C5;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.18em;
    transform: scaleX(0);
    transform-origin: center;
    transition: opacity 300ms, transform 300ms;
}

.selection a:hover::after,
.selection a:focus::after {
  opacity: 1;
  transform: scaleX(1);

}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}


.background {
  position: fixed;
  width: 300vw;
  height: 300vh;
  top: -100vh;
  left: -100vw;
  pointer-events: none;
  z-index: -1;
}

.ball, .square {
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  backface-visibility: hidden;
  animation: move linear infinite;
  z-index: 1;
}

.ball {
  border-radius: 50%;
}

.triangle {
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  background-color: currentColor;
  backface-visibility: hidden;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  left: 0;
  top: 0;
}

.triangle-parent {
  position: absolute;
  animation: move linear infinite;
  width: 20vmin;
  height: 20vmin;
  filter: drop-shadow(60vmin 0px 10px currentColor);
}

/* Left-side triangle (shadow cast right) */
.triangle-parent:nth-child(5) {
  top: 20%;
  left: -15vw;
  animation-duration: 38s;
  animation-delay: -5s;
  transform-origin: 120vw 10vh;
  filter: drop-shadow(70vmin 0px 10px currentColor);
}

/* Right-side triangle (shadow cast left) */
.triangle-parent:nth-child(6) {
  top: 60%;
  left: 80vw;
  animation-duration: 38s;
  animation-delay: -15s;
  transform-origin: -120vw -5vh;
  filter: drop-shadow(50vmin 0px 10px currentColor);
}


.shape:nth-child(odd), .triangle-parent:nth-child(odd) {
    color: #4D48C5;
}

.shape:nth-child(even), .triangle-parent:nth-child(even) {
    color: #4B2CA3;
}


.shape:nth-child(1) {
  top: 50%;
  left: 55%;
  animation-duration: 40s;
  animation-delay: -3s;
  transform-origin: 10vw 10vh;
  box-shadow: 40vmin 0 5.7vmin currentColor;
}
.shape:nth-child(2) {
  top: 40%;
  left: 30%;
  animation-duration: 53s;
  animation-delay: -29s;
  transform-origin: 20vw 20vh;
  box-shadow: -40vmin 0 5.18vmin currentColor;
}
.shape:nth-child(3) {
  top: 55%;
  left: 40%;
  animation-duration: 49s;
  animation-delay: -8s;
  transform-origin: 30vw 30vh;
  box-shadow: 40vmin 0 5.25vmin currentColor;
}
.shape:nth-child(4) {
  top: 60%;
  left: 60%;
  animation-duration: 26s;
  animation-delay: -21s;
  transform-origin: 40vw 40vh;
  box-shadow: 40vmin 0 5.28vmin currentColor;
}

.triangle-parent, .triangle {
  will-change: transform, filter;
  transform: translateZ(0);
}