body {
    font-family: Futura;
}

.selection a {
    position: relative;
    display: inline-block;
}

.selection a::after {
    opacity: 0;
    content: "";
    background-color: #4D48C5;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.18em;
    transform: scaleX(0);
    transform-origin: center;
    transition: opacity 300ms, transform 300ms;
}

.selection a:hover::after,
.selection a:focus::after {
  opacity: 1;
  transform: scaleX(1);

}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}


.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

.ball, .square {
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  backface-visibility: hidden;
  animation: move linear infinite
}

.ball {
  border-radius: 50%;
}

.triangle {
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  box-shadow: 0 0 5vmin currentColor;
  color: #4D48C5;
  background-color: #4D48C5;
  backface-visibility: visible;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  animation: move linear infinite;
}

.triangle-parent {
  filter: drop-shadow(30vw 0px 10px);
  animation: move linear infinite;
}

.shape:nth-child(odd), .triangle-parent:nth-child(odd) {
    color: #4D48C5;
}

.shape:nth-child(even), .triangle-parent:nth-child(even) {
    color: #4B2CA3;
}


.shape:nth-child(1) {
  top: 77%;
  left: 88%;
  animation-duration: 40s;
  animation-delay: -3s;
  transform-origin: 16vw -2vh;
  box-shadow: 40vmin 0 5.703076368487546vmin currentColor;
}
.shape:nth-child(2) {
  top: 42%;
  left: 2%;
  animation-duration: 53s;
  animation-delay: -29s;
  transform-origin: -19vw 21vh;
  box-shadow: -40vmin 0 5.17594621519026vmin currentColor;
}
.shape:nth-child(3) {
  top: 28%;
  left: 18%;
  animation-duration: 49s;
  animation-delay: -8s;
  transform-origin: -22vw 3vh;
  box-shadow: 40vmin 0 5.248179047256236vmin currentColor;
}
.shape:nth-child(4) {
  top: 50%;
  left: 79%;
  animation-duration: 26s;
  animation-delay: -21s;
  transform-origin: -17vw -6vh;
  box-shadow: 40vmin 0 5.279749632220298vmin currentColor;
}
.shape:nth-child(5) {
  top: 46%;
  left: 15%;
  animation-duration: 36s;
  animation-delay: -40s;
  transform-origin: 4vw 0vh;
  box-shadow: -40vmin 0 5.964309466052033vmin currentColor;
}
.shape:nth-child(6) {
  top: 77%;
  left: 16%;
  animation-duration: 31s;
  animation-delay: -10s;
  transform-origin: 18vw 4vh;
  box-shadow: 40vmin 0 5.178483653434181vmin currentColor;
}

.triangle-parent:nth-child(1) {
  top: 77%;
  left: -40vw;
  animation-duration: 40s;
  animation-delay: -3s;
  transform-origin: 16vw -2vh;
  filter: drop-shadow(80vw 0 10px currentColor);
}

.triangle-parent:nth-child(2) {
  top: 42%;
  left: -50vw;
  animation-duration: 53s;
  animation-delay: -29s;
  transform-origin: -19vw 21vh;
  filter: drop-shadow(90vw 0 10px currentColor);
}