@import "tailwindcss";

@font-face {
    font-family: 'Futura';
    src: url(./assets/fonts/futura\ medium\ bt.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-floralwhite: #fffbeb;
    --color-grape: #5431b6;
    --font-futura: "Futura";
}
